/* ================= MAIN PAGE ================= */
.aboutPage{
  background: linear-gradient(#000000c7, #000000a8);
  color: white;
  font-family:'Poppins',sans-serif;
  padding-top:120px; /* header space */
}

/* ================= HERO ================= */
.aboutHero{
  height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:
  radial-gradient(circle at 20% 30%, #1a1a1a, #000);
}

.heroContent h1{
  font-size:70px;
  margin-bottom:20px;
  letter-spacing:2px;
  background:linear-gradient(45deg,#ffb703,#ffd60a);
  -webkit-background-clip:text;
  color:transparent;
}

.heroContent p{
  font-size:20px;
  color:#ccc;
  max-width:650px;
}

/* ================= SECTION ================= */
.aboutSection{
  display:flex;
  padding:100px 10%;
  gap:80px;
  align-items:center;
}

.aboutText h2{
  font-size:45px;
  margin-bottom:20px;
  color:#ffb803ad;
}

.aboutText p{
  color:#bbb;
  line-height:1.8;
}

/* GLOW BLOB */
.aboutImage{
  flex:1;
  display:flex;
  justify-content:center;
}
.blob{
  width:320px;
  height:320px;
  border-radius:50%;
  background:linear-gradient(45deg,#ffb703,#fb8500);
  filter:blur(70px);
  animation:float 5s infinite alternate ease-in-out;
}

@keyframes float{
  from{transform:translateY(-20px)}
  to{transform:translateY(30px)}
}

/* ================= FEATURES ================= */
.features{
  padding:90px 10%;
  text-align:center;
}

.features h2{
  font-size:45px;
  margin-bottom:50px;
  color:#ffb803af;
}

.featureGrid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

/* GLASS CARD */
.featureCard{
  padding:30px;
  border-radius:25px;
  background:rgba(40, 33, 24, 0.354);
  border: 1px solid rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  transition:0.4s;
}

.featureCard:hover{
  transform:translateY(-15px);
  box-shadow:0 0 30px rgba(255, 184, 3, 0.42);
}

.featureCard h3{
  margin-bottom:10px;
  color:#ffb803b8;
}

/* ================= STATS ================= */
.stats{
  display:flex;
  justify-content:space-around;
  padding:90px 10%;
  background:#020202;
}

.stat{
  text-align:center;
}

.stat h1{
  font-size:55px;
  color:#ffb803c5;
  text-shadow:0 0 20px rgba(255, 184, 3, 0.531);
}

/* ================= MISSION ================= */
.mission{
  padding:100px 10%;
  text-align:center;
}

.mission h2{
  font-size:45px;
  color:#ffb803c7;
  margin-bottom:20px;
}

.mission p{
  max-width:750px;
  margin:auto;
  color:#bbb;
  line-height:1.8;
}
@media(max-width:900px){
  .aboutSection{
    flex-direction:column;
    text-align:center;
  }
  .featureGrid{
    grid-template-columns:repeat(2,1fr);
  }
  .stats{
    flex-direction:column;
    gap:40px;
  }
}

@media(max-width:500px){
  .heroContent h1{font-size:42px}
  .featureGrid{grid-template-columns:1fr}
}