.footer{
  background:#0b0d11;
  color:#fff;
  padding-top:70px;
  margin-top:100px;
  border-top:1px solid #1f232b;
 
}

/* GRID */
.footerContainer{
  width:85%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:50px;
  padding-bottom:50px;  
 
}

/* LOGO */
.logo{
  color:#ffb703;
  font-size:30px;
  margin-bottom:15px;
   

}

/* TEXT */
.footerCol p{
  color:#aaa;
  line-height:1.8;
  font-size:14px; 

}

/* HEADINGS */
.footerCol h2{
  margin-bottom:18px;
  font-size:18px; 

}

/* LINKS */
.footerCol ul{
  list-style:none;
  padding:0; 

}
.footerCol li{
  margin-bottom:12px;
  color:#aaa;
  cursor:pointer;
  transition:.3s; 

}
.footerCol li:hover{
  color:#ffb703;
  transform:translateX(6px);
}

/* SOCIAL ICONS FIX */
.socialIcons{
  display:flex;
  gap:18px;
  margin-top:20px; 

}

/* ICON STYLE */
.socialIcons svg{
  font-size:22px;       /* size */
  color:#aaa;           /* default color */
  cursor:pointer;
  transition:.3s; 

}

/* HOVER COLORS */
.socialIcons svg:nth-child(1):hover{ color:#E1306C; } /* insta */
.socialIcons svg:nth-child(2):hover{ color:#25D366; } /* whatsapp */
.socialIcons svg:nth-child(3):hover{ color:#1877F2; } /* facebook */
.socialIcons svg:nth-child(4):hover{ color:#FF0000; } /* youtube */


/* APP DOWNLOAD ICONS */
.appBtn{
  display:flex;
  align-items:center;
  gap:10px;
  background:#1c1f26;
  padding:10px 15px;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  transition:.3s; 

}

.appBtn svg{
  font-size:20px; 

}

.appBtn:hover{
  background:#ffb703;
  color:#000;
}

/* NEWSLETTER */
.newsletter{
  display:flex;
  margin-top:15px; 

}
.newsletter input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:6px 0 0 6px;
  outline:none; 

}
.newsletter button{
  padding:10px 15px;
  border:none;
  background:#ffb703;
  color:#000;
  font-weight:bold;
  border-radius:0 6px 6px 0;
  cursor:pointer; 

}

/* APP BUTTONS */
.appDownload{
  margin-top:20px;
  display:flex;
  gap:10px; 

}
.appBtn{
  background:#161a22;
  padding:10px 14px;
  border-radius:8px;
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
  transition:.3s; 

}
.appBtn:hover{
  background:#ffb703;
  color:#000;
}

/* BOTTOM BAR */
.footerBottom{
  border-top:1px solid #1f232b;
  text-align:center;
  padding:20px;
  color:#888;
  display:flex;
  justify-content:space-between;
  width:85%;
  margin:auto; 

}

/* RESPONSIVE */
@media(max-width:900px){
  .footerContainer{ grid-template-columns:repeat(2,1fr); }
  .footerBottom{ flex-direction:column; gap:10px; }

  .footer
  .footerContainer 
  .footerCol
  .logo{
    position: relative!important;
    left: 35%;
    top: -20px;
  }
}
@media(max-width:590px){
  .footerContainer{ grid-template-columns:1fr; text-align:center; }
  .socialIcons{ justify-content:center; }
  .appDownload{ justify-content:center; }
}